DATABASE_URL="postgresql://@localhost:5432/devlog?schema=public"
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_better_auth_secret
BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app
ACCESS_TOKEN_EXPIRES_IN=24h
REFRESH_TOKEN_EXPIRES_IN=7d
JWT_SECRET=your_jwt_secret
ADMIN_USERNAME=super_admin
ADMIN_EMAIL=superadmin@gmail.com
ADMIN_PASSWORD=admin123


EMAIL_SENDER_SMTP_USER=smtp_user
EMAIL_SENDER_SMTP_PASSWORD=smtp_password
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_key